# Python cache & bytecode
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Logs & temp stores
logs/*.json
*.log

# Environment variables
.env
.env.local

# IDE files
.vscode/
.idea/
